body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #f0f0f0; 
    text-align: center; 
}

@font-face {
    font-family: 'Minecraft';
    src: url('props/font/minecrafter/Minecrafter.Alt.ttf') format('truetype');
}

.font-minecraft {
    font-family: 'Minecraft', sans-serif;
}

@font-face {
    font-family: 'Minecrafter';
    src: url('props/font/Minecraft-Seven_v2.ttf') format('truetype');
}

.font-minecrafter {
    font-family: 'Minecrafter', sans-serif;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: white;
    font-size: 4rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.pixel-button {
    background-color: #008000;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Minecrafter', sans-serif;
    padding: 15px 30px;
    border: 4px solid;
    border-color: #50c878 #008000 #004000 #004000;
    box-shadow: 4px 4px 0px #222;
    transition: all 0.2s ease-in-out;
}

.pixel-button:hover {
    background-color: #006400;
    border-color: #008000 #50c878 #50c878 #008000;
    box-shadow: 2px 2px 0px #111;
    transform: translateY(2px);
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}